doctype html 
link(rel="stylesheet", href="css/index.css")
html 
  head 
     title= title 
  body 
h1= message 
p Here's a list of items:
ul 
each item in items 
        li=item 
h1 hai
img(src="images/AUDI E TRON GT.jpeg", alt="")