.custom-navbar {
    background: linear-gradient(to left, violet, black); /* Change direction as needed */
  }
.nav-link {
    margin-left:auto; /* Adjust padding as needed */
  }
  .fooalignbt{
    margin-bottom: auto;
  }
  .userlg{
    margin-right: 8px;
  }